body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.text {
    color: #17ed26;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.row-buttons {
    width: 90%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: clamp(10px, 2vw, 30px);
    margin: 20px auto;
    padding: 0 20px;
}

.row-btn {
    padding: 10px 5px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: clamp(14px, 2vw, 16px);
    width: 100%;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: clamp(10px, 2vw, 20px);
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    aspect-ratio: 1;
    background: #1c1f2b;
    border-radius: 10px;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),blue,red,blue,green);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.card::before {
    filter: blur(5.5rem);
    opacity: 1.5;
}

@keyframes spin {
    from { --angle: 0deg; }
    to { --angle: 360deg; }
}

@media (max-width: 768px) {
    .row-buttons {
        display: flex
    }
}
